*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-main: #2196f3;
}

/* GLOBAL */
body {
  max-width: 1600px;

  color: var(--main-text-color);
  background-color: #fff;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}
.navigation-contacts {
  display: flex;
}

.navbar-link {
  color: var(--secondary-text-color);
}
.logo-title-position {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
}

.navbar-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navbar-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.navbar-item,
.header-contacts-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-title-style,
.navbar-link:hover,
.navbar-link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-color-main);
}

/* HERO */
.hero {
  padding: 200px 0;

  background-color: #2f303a;

  text-align: center;
}

.hero-title {
  display: block;
  max-width: 696px;
  margin: 0 auto 30px auto;
  padding: 0 50px;

  color: #fff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.button {
  width: 200px;
  padding: 10px 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color-main);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* FEATURES */
.features-section {
  padding-top: 94px;
}
.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description {
  max-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* WHAT WE DO */
.activity-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

/* OUR TEAM */
.team-card {
  display: flex;
}
.team-card-item:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;

  background-color: #f5f4fa;
}
.team-employee {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-employee.name {
  margin-top: 30px;

  font-weight: 500;
}

/* FOOTER */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.logo-title.logo-footer {
  color: #fff;
}

.logo-footer-margin {
  margin-bottom: 20px;
}

.address-list {
  color: #fff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-item {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

/* ======PAGE PORTFOLIO====== */

/*PORTFOLIO FILTER */
.filter-btn {
  font-size: 16px;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color-main);
  color: #fff;
}
/* PROJECTS */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
